# Student Performance Data Set

### This data approach student achievement in secondary education of two Portuguese schools.

https://www.kaggle.com/datasets/ishandutta/student-performance-data-set

![image.png](../Images/Student.png)

#### [ 데이터 설명 ]

- 1044명의 학생 데이터 : 학교 / 성별 / 나이 / 주소 / 가족 구성원 / 아버지 교육수준 / 어머니 교육수준 등의 feature

|Feature|Definition|Value|
|:------|:---------|:------------|
|school| 학생의 학교 |'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira |
|sex| 성별 | 'F' - female or 'M' - male |
|age| 나이 | from 15 to 22 |
|address| 주소  |'U' - urban or 'R' - rural |
|famsize| 가족 구성원 수|   LE3' - less or equal to 3 or 'GT3' - greater than 3 |
|Pstatus| 부모님과 동거 |   'T' - living together or 'A' - apart |
|Medu| 어머니 교육수준 | 0 - none, 1 - primary education, 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education |
|Fedu| 아버지 교육수준 | 0 - none, 1 - primary education, 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education |
|Mjob| 어머니 직업 | 'teacher', 'health' care related, civil 'services' |
|Fjob| 아버지 직업 | 'teacher', 'health' care related, civil 'services' |
|reason| 학교선택 이유 | close to 'home', school 'reputation', 'course' preference or 'other' |
|guardian| 학생의 보호자 | 'mother', 'father' or 'other' |
|traveltime| 이동시간 | 1 - < 15 min, 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour |
|studytime| 학습시간 | 1 - < 2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours |
|failures| 유급 | n if 1<=n<3, else 4 |
|schoolsup| 방과 후 교육 | yes or no |
|famsup| 가족 교육| yes or no |
|paid| 지출금액 | yes or no |
|activities|교외 활동|yes or no|
|nursery| 보육원 참석 |yes or no|
|higher|고등교육 희망|yes or no|
|internet|인터넷 가능여부| yes or no |
|romantic| 이성관계 | yes or no |
|famrel| 가족관계 | from 1 - very bad to 5 - excellent
|freetime| 자유시간 |from 1 - very low to 5 - very high |
|goout| 친구와 외출 |from 1 - very low to 5 - very high|
|Dalc| 하루 알콜 섭취 |from 1 - very low to 5 - very high|
|Walc| 주간 알콜 섭취 | from 1 - very low to 5 - very high |
|health| 건강상태 | from 1 - very bad to 5 - very good |
|absences| 결석 횟수 |from 0 to 93 |

### Library & Data Import

In [18]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_squared_error

In [19]:
X_train = pd.read_csv('../Datasets/Student_X_train.csv')
X_test = pd.read_csv('../Datasets/Student_X_test.csv')
y_train = pd.read_csv('../Datasets/Student_y_train.csv')

In [20]:
X_train

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1714,GP,F,18,U,GT3,T,4,3,other,...,no,4,3,3,1,1,3,0,14,13
1,1254,GP,F,17,U,GT3,T,4,3,health,...,yes,4,4,3,1,3,4,0,13,15
2,1639,GP,F,16,R,GT3,T,4,4,health,...,no,2,4,4,2,3,4,6,10,11
3,1118,GP,M,16,U,GT3,T,4,4,services,...,no,5,3,3,1,3,5,0,15,13
4,1499,GP,M,19,U,GT3,T,3,2,services,...,yes,4,5,4,1,1,4,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,1074,GP,M,15,U,GT3,T,4,4,services,...,no,5,3,3,1,1,5,4,10,13
674,1044,GP,M,15,R,GT3,T,4,4,other,...,yes,1,3,5,3,5,1,8,12,10
675,1078,GP,M,17,U,LE3,T,4,4,other,...,no,4,1,1,2,2,5,0,12,13
676,1055,MS,M,17,R,GT3,T,1,1,other,...,yes,4,5,5,1,3,2,0,10,9
677,1394,GP,F,17,U,GT3,T,3,2,health,...,no,5,2,2,1,2,5,0,18,18

In [21]:
X_test

,StudentID,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,1000,GP,F,16,U,GT3,T,4,2,services,...,no,4,2,3,1,1,5,2,15,16
1,1008,GP,M,19,U,GT3,T,1,2,other,...,no,4,5,2,2,2,4,3,13,11
2,1013,GP,F,16,U,GT3,T,4,4,services,...,no,3,2,3,1,2,2,6,13,14
3,1014,GP,F,16,U,GT3,T,3,1,services,...,no,4,3,3,1,2,5,4,7,7
4,1017,GP,F,15,U,LE3,A,3,4,other,...,yes,5,3,2,1,1,1,0,10,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,2032,GP,F,15,R,LE3,T,3,1,other,...,no,4,4,2,2,3,3,6,15,15
362,2034,GP,M,17,U,GT3,T,3,3,services,...,yes,4,3,4,2,3,4,12,12,12
363,2035,GP,F,16,U,GT3,T,2,3,services,...,no,2,3,1,1,1,3,2,16,16
364,2036,MS,F,16,U,GT3,T,3,1,other,...,no,3,1,3,1,3,1,0,8,6
365,2037,MS,M,18,U,GT3,T,4,4,teacher,...,no,3,2,4,1,4,2,4,15,14

In [22]:
y_train

     StudentID  G3
0         1714  14
1         1254  15
2         1639  11
3         1118  13
4         1499   0
..         ...  ..
673       1074  14
674       1044  11
675       1078  13
676       1055  10
677       1394  18

[678 rows x 2 columns]

In [23]:
X_train.isna().sum()

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

In [24]:
X_test.isna().sum()

StudentID     0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
dtype: int64

In [25]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678 entries, 0 to 677
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   StudentID   678 non-null    int64
 1   school      678 non-null    object
 2   sex         678 non-null    object
 3   age         678 non-null    int64
 4   address     678 non-null    object
 5   famsize     678 non-null    object
 6   Pstatus     678 non-null    object
 7   Medu        678 non-null    int64
 8   Fedu        678 non-null    int64
 9   Mjob        678 non-null    object
 10  Fjob        678 non-null    object
 11  reason      678 non-null    object
 12  guardian    678 non-null    object
 13  traveltime  678 non-null    int64
 14  studytime   678 non-null    int64
 15  failures    678 non-null    int64
 16  schoolsup   678 non-null    object
 17  famsup      678 non-null    object
 18  paid        678 non-null    object
 19  activities  678 non-null    object
 20  nursery     678 non-null    object
 21  higher      678 non-null    object
 22  internet    678 non-null    object
 23  romantic    678 non-null    object
 24  famrel      678 non-null    int64
 25  freetime    678 non-null    int64
 26  goout       678 non-null    int64
 27  Dalc        678 non-null    int64
 28  Walc        678 non-null    int64
 29  health      678 non-null    int64
 30  absences    678 non-null    int64
 31  G1          678 non-null    int64
 32  G2          678 non-null    int64
dtypes: int64(16), object(17)
memory usage: 174.9+ KB

In [26]:
StudentID = X_test['StudentID'].copy()

X_train = X_train.drop(columns=['StudentID'])
X_test = X_test.drop(columns=['StudentID'])
y_train = y_train.drop(columns=['StudentID'])

In [27]:
X_train_cat = X_train.select_dtypes('object').copy()
X_test_cat = X_test.select_dtypes('object').copy()

ohe = OneHotEncoder(sparse=False)
ohe.fit(X_train_cat)

X_train_ohe = ohe.transform(X_train_cat)
X_test_ohe = ohe.transform(X_test_cat)

In [28]:
X_train_num = X_train.select_dtypes(exclude='object').copy()
X_test_num = X_test.select_dtypes(exclude='object').copy()

scaler = MinMaxScaler()
scaler.fit(X_train_num)

X_train_sca = scaler.transform(X_train_num)
X_test_sca = scaler.transform(X_test_num)

In [29]:
X_TRAIN = np.concatenate([X_train_ohe, X_train_sca], axis=1)
X_TEST = np.concatenate([X_test_ohe, X_test_sca], axis=1)

y_TRAIN = y_train['G3']

print(X_train.shape, X_test.shape, y_TRAIN.shape)

(678, 32) (366, 32) (678,)

In [30]:
xtrain, xtest, ytrain, ytest = train_test_split(X_TRAIN, y_TRAIN, test_size = 0.25, random_state=1234)

print(xtrain.shape, xtest.shape, ytrain.shape, ytest.shape)

(508, 58) (170, 58) (508,) (170,)

In [31]:
def make_models(xtrain, xtest, ytrain, ytest):
    model1 = LinearRegression().fit(xtrain, ytrain)
    print('model1', get_score(model1, xtrain, xtest, ytrain, ytest))
    
    model2 = RandomForestRegressor(random_state=2022).fit(xtrain, ytrain)
    print('model2', get_score(model2, xtrain, xtest, ytrain, ytest))
    
    for d in range(3,8):
        model2 = RandomForestRegressor(500, max_depth=d, random_state=2022).fit(xtrain, ytrain)
        print('model2', d, get_score(model2, xtrain, xtest, ytrain, ytest))

In [34]:
def get_score(model, xtrain, xtest, ytrain, ytest):
    A = model.score(xtrain, ytrain)
    ypred = model.predict(xtest)
    print(ypred)
    B = mean_squared_error(ytest, ypred)
    
    return f'{A:.4} {B:.4}'

In [35]:
make_models(xtrain, xtest, ytrain, ytest)

[12.5     9.8125  5.     13.125  13.1875 15.625  10.375  11.125  12.125
 14.4375 14.25    9.5     7.875   9.375  12.8125  8.75   18.6875 10.375
  4.8125  6.     14.5    16.375  13.1875 11.0625  9.6875  4.9375 13.25
 12.875  12.5625 19.0625 14.625  10.625  11.0625 13.     13.625   4.5625
 11.     13.3125 16.375  12.25   10.     12.875  12.0625 11.      9.125
 16.      8.0625  4.125   9.625   6.6875 11.4375  8.3125 12.     13.
 14.0625 10.375  13.6875  8.75    7.1875  8.375  13.75    9.     15.1875
  8.25   12.75    8.6875 12.1875  9.0625 16.6875  8.625   8.1875 10.875
 10.125  14.8125 10.8125 11.5     1.     12.5625 12.125  15.125  13.875
 16.75    9.625   5.375  11.4375 10.25    8.0625  9.625  11.375   9.625
  9.5     7.375  14.125   9.9375  6.1875  7.875  15.5    10.25   11.5
 15.     14.75   13.125  10.125  11.125  13.     11.0625 11.5    13.25
 13.5     9.5    14.1875 11.375  12.     12.25    9.625  15.75   19.3125
  9.875   7.375  13.9375  6.6875 11.3125 12.125  18.5625 10.8125 11.625
 11.625  13.875   9.5625 13.25   14.0625 12.25   14.375   6.875  15.5
 10.75    7.8125 12.5    12.4375 11.375  12.9375 11.9375 11.9375  9.0625
 13.6875  9.375   9.5     7.875  15.     12.0625 16.875  12.1875 11.125
  8.4375 11.75   13.25   14.375  12.625   9.8125  6.875   5.     10.4375
  9.8125 10.125   9.1875 -0.6875  8.5     6.8125 13.3125  7.    ]
model1 0.8788 3.656
[12.73        9.86        0.34       13.37       13.04       15.95
 10.11       11.17       12.56       15.07       14.37        9.33
  7.98        9.64       12.92        8.81       18.06       10.46
  0.12        4.44       14.14       16.075      13.41       10.84
 11.09        6.18       13.3        13.11       12.43       17.49
 15.06       11.17       10.72       13.07       12.57        5.4
 10.52       12.85       16.21       12.31       10.46       13.68
 11.57       11.05        9.49       15.51        9.52        5.93
  9.82        7.25       10.9         7.62       12.2        13.52
 14.66       10.64       14.27        8.95        8.59        8.33
 12.94        9.44       15.39        7.95       12.49        8.93
 12.05       10.16       15.74        9.09        7.95       11.59
 10.31       15.64       10.97       11.15        0.26       12.08
 10.83       15.16166667 15.2        16.14        9.34        5.69
 11.17       10.42        8.15        8.26       11.22       10.59
 10.28        7.06       15.25666667  9.75        4.89        8.
 15.54       10.47       11.17       15.26333333 14.48       13.15
 10.58       10.78       13.27       10.82       11.05       11.98
 13.38       10.72       14.33       10.68       12.48       12.79
  9.98       15.555      18.28       10.01        7.93       14.18
  7.73       11.14       12.75       17.3        10.5        10.9
 10.73       15.05       10.52       12.69       14.94       12.35
 15.05        7.29       15.63       11.01        8.1        11.32
 11.81       11.35       12.59       10.68       10.93        9.79
 12.99       10.11        9.66        7.63       15.74666667 12.35
 17.14       12.33       10.66        7.88       10.98       12.85
 14.82       12.38       10.27        7.33        7.51       10.43
 10.8        10.34       10.4         0.18        7.86        7.79
 12.92        6.03      ]
model2 0.9822 3.09
[12.86066188  8.91480259  0.44910042 12.86856359 12.86431774 15.3423148
 10.62252124 10.73633163 12.65776785 15.3423148  14.86809973  8.83436063
  8.61194258  8.87250897 12.84950894  8.8812043  17.49000561 10.64873085
  0.42610042  5.56012282 14.86809973 15.88218787 12.89808136 10.6538656
 10.6538656   6.03364811 12.8873389  12.8701715  12.65510054 17.49000561
 15.3423148  10.73633163 10.6538656  12.86997976 12.84535813  6.04189573
 10.6538656  12.86419922 15.88218787 12.63762264 10.64677679 12.87204069
 10.73633163 10.73633163  8.70761865 15.3423148   8.75023517  6.07222273
  8.77416782  7.58081156 10.73633163  8.61067131 12.65776785 12.86174013
 14.86809973 10.64677679 14.86809973  8.88072998  8.49368134  8.8619195
 12.87120984  8.84878186 15.3423148   8.69780159 12.86739091  8.8619195
 12.64665589 10.64677679 15.98614352  8.57989533  8.68412225 10.73633163
 10.62252124 15.3423148  10.73633163 10.73633163  0.31569193 12.65181398
 10.72924282 15.35015046 14.8715263  15.87777878  8.85546261  6.03759811
 10.73633163 10.6538656   8.69553811  8.78184994 10.73633163 10.64677679
 10.6538656   8.45138773 14.87593539  8.91977333  4.87941242  8.56094898
 15.34574137 10.64677679 10.72924282 15.34574137 14.86809973 12.87751796
 10.6538656  10.73633163 12.87838441 10.6538656  10.73633163 12.66805981
 12.87809865 10.6538656  14.86809973 10.6538656  12.67497646 12.66827703
  8.78125663 15.35015046 17.49000561 10.6538656   8.31240202 14.86809973
  7.61158129 10.73633163 12.66194666 17.49000561 10.73633163 10.73633163
 10.73633163 14.8715263  10.6538656  12.67641259 14.86809973 12.65738707
 14.8715263   7.74349956 15.34574137 10.72924282  8.67140499 10.73633163
 12.62363148 10.73633163 12.85493443 10.73633163 10.73633163  8.87808147
 12.86601763 10.64677679  8.90723945  8.54911534 15.3423148  12.66056327
 17.31156945 12.65544315 10.70498727  8.59245874 10.73633163 12.85184627
 14.86809973 12.64009106 10.6538656   8.42789133  7.58826871 10.6538656
 10.6538656  10.6538656  10.64677679  0.31569193  8.72869644  7.77393542
 12.87120984  5.41187826]
model2 3 0.895 3.08
[12.95233282  9.18549518  0.41068474 13.05954536 12.98742236 15.31720019
 10.39821106 10.89174924 12.48642215 15.30401377 14.58850028  8.89861799
  8.43635387  9.1572085  12.938705    8.96724195 17.82961768 10.50464774
  0.20769414  5.51430178 14.52800141 16.04689951 13.15009999 10.68304063
 10.68754841  6.06032372 13.13320089 12.99533894 12.5258303  17.46759922
 15.22131644 10.9555193  10.60514449 12.96600349 12.8577268   5.57762843
 10.52535589 12.97276092 16.03905659 12.38890697 10.47646888 13.06575304
 11.03835279 10.87702059  8.73978905 15.362339    9.00222161  6.08214516
  8.8274384   7.42516518 10.95680047  8.56581989 12.46982989 13.02207384
 14.60611853 10.47510524 14.62368403  8.99736602  8.46545962  8.90888249
 12.99516297  9.09590832 15.35717319  8.60358465 12.93787465  8.94241555
 12.40673912 10.46561422 16.13305439  8.72504417  8.47121663 10.95900547
 10.38522969 15.37657653 10.86955091 10.87048967  0.20190783 12.48645368
 10.81068164 15.39408301 14.97742203 16.03564649  9.0382035   6.00330229
 10.95253539 10.60501754  8.5493276   8.36939817 10.88549323 10.47521316
 10.53420737  8.30751487 14.98908616  9.18778455  4.65413635  8.50450091
 15.48066267 10.47510524 10.82770917 15.47358241 14.60935143 13.05973957
 10.53741145 11.01644903 13.08085775 10.6788459  11.01560293 12.47890711
 13.09051013 10.53600762 14.50843492 10.68362803 12.56871855 12.57117398
  8.89610879 15.48258865 18.07395119 10.52928473  7.68264812 14.52912909
  7.69362509 10.95462139 12.58585537 17.63273835 10.87082775 10.95439103
 10.9462125  14.95725896 10.59994788 12.59336795 14.57662093 12.49674376
 14.94170449  7.88309562 15.48448623 10.81768576  8.45705936 10.88406315
 12.37868547 11.03708517 12.93517507 10.88017771 11.02750846  9.03690616
 12.98902224 10.46703267  9.17399183  8.24149299 15.37270031 12.50153623
 17.3324378  12.52434158 10.73174319  8.3274903  10.95207127 12.97358043
 14.58474513 12.51789572 10.53408043  8.22243049  7.46372177 10.53557201
 10.60912936 10.53399608 10.4603403   0.12393048  8.77022483  7.9863511
 12.99516297  5.92086063]
model2 4 0.9175 3.035
[12.92578873  9.43337851  0.5439359  13.17088376 13.02023654 15.54674588
 10.30526684 10.97746483 12.41800973 15.23601094 14.45795961  9.06483197
  8.28055587  9.43588162 12.87043727  8.94407026 17.85788253 10.50223158
  0.21956463  5.07657503 14.34024012 16.13350706 13.30606191 10.72474431
 10.78633474  6.11539139 13.27328362 13.00894536 12.55197035 17.26429524
 15.15585137 11.02051741 10.62415619 12.94358366 12.74513911  5.49338859
 10.48188249 12.95555643 16.10093228 12.26987773 10.44905795 13.15306754
 11.15939266 10.92242051  9.03368975 15.48021446  9.10135759  5.8681183
  8.80254082  7.30005647 11.05666508  8.25709366 12.35234291 13.1331519
 14.50702639 10.4619172  14.47936864  9.14584213  8.49206474  8.6988104
 13.01991797  9.29122196 15.4355421   8.57520639 12.84832666  8.91116368
 12.19122899 10.37007303 15.89608101  8.93676233  8.17488334 11.06124776
 10.29463959 15.50486824 10.81333376 10.949318    0.2384     12.36856619
 10.73039941 15.24364476 15.29541492 16.05849292  9.20398387  5.83852506
 11.02041762 10.64185968  8.45311886  8.15856456 10.93322694 10.44989196
 10.43263276  7.81245502 15.28840086  9.48409212  4.58903328  8.51917683
 15.48396707 10.42501307 10.84984503 15.4556801  14.44887078 13.16697232
 10.51011783 10.9492128  13.20113029 10.75440528 11.00582388 12.26579808
 13.23061799 10.51161707 14.32682561 10.71427977 12.53391217 12.58020311
  9.08938559 15.52983329 18.26957594 10.43029277  7.78336143 14.32124678
  7.78864807 11.03200952 12.67284792 17.49369217 10.79811926 10.99370447
 10.96372649 15.22159389 10.59657513 12.58862129 14.49131152 12.40454085
 15.20292048  7.78207501 15.55396203 10.82668744  8.33064061 10.98990396
 12.25279023 11.19641496 12.8331088  10.89836279 11.08050548  9.28546702
 12.98252617 10.3636995   9.47093691  7.98308046 15.54463882 12.4630605
 17.24025131 12.51770954 10.65280236  8.2217198  10.99837287 12.97607024
 14.49079392 12.5149493  10.46418901  7.85849405  7.50325763 10.48307173
 10.63380526 10.46391973 10.34511879  0.19113333  8.40272124  7.97816133
 13.02445202  6.1969367 ]
model2 5 0.945 3.036

[12.85860352  9.5858891   0.57561905 13.25324324 13.0464142  15.8362836
 10.26677045 11.07887107 12.38176224 15.19155387 14.39913613  9.1100865
  8.18054341  9.65022748 12.81668568  8.87474463 17.91648047 10.50327109
  0.17966667  4.89896309 14.24040874 16.12024813 13.37611882 10.7627076
 10.90900159  6.20792652 13.32356879 13.06427824 12.51100819 17.324319
 15.12248265 11.0491457  10.64426018 12.94256321 12.55977416  5.4973246
 10.47764894 12.91398572 16.11169403 12.22311505 10.45387521 13.25737435
 11.28725196 10.91792394  9.20703839 15.53065337  9.21395338  5.79763201
  8.85934608  7.24348028 11.08454175  8.08828802 12.25924482 13.21916461
 14.53323242 10.48937793 14.40420928  9.2269777   8.43621024  8.47292798
 12.9947077   9.34854089 15.46651615  8.3927525  12.7251325   8.85459382
 12.07143304 10.34076729 15.80715611  9.00521607  8.03003589 11.17582206
 10.27546346 15.59206865 10.81624309 11.00249463  0.232      12.23007321
 10.73588338 15.21698839 15.36685724 16.06185323  9.22077327  5.80761573
 11.06854667 10.62903223  8.29329612  8.03711969 10.99448567 10.46870135
 10.37180374  7.52465286 15.36183516  9.69373285  4.56455948  8.39009561
 15.46503228 10.38906655 10.86888652 15.40489765 14.40877811 13.19786444
 10.50818557 10.86736591 13.27474782 10.77582652 11.00455868 12.17163552
 13.2805847  10.50070874 14.30240509 10.71525804 12.54440015 12.64536703
  9.3224604  15.55453613 18.33883424 10.32272417  7.86886106 14.19731679
  7.87073531 11.09359659 12.71247682 17.40318078 10.75870917 11.00711319
 10.92644077 15.24601654 10.60035744 12.65308995 14.6112425  12.40509315
 15.28631044  7.72919211 15.62219314 10.91217881  8.06136981 11.07072572
 12.12992685 11.2865595  12.72654089 10.88460804 11.08020376  9.39446069
 12.96324747 10.2915917   9.61310114  7.75006323 15.60825054 12.4499958
 17.19514416 12.4743736  10.64929666  8.04617824 11.03359061 12.95114089
 14.59887219 12.48216969 10.40142626  7.37451361  7.53191486 10.43705151
 10.69009543 10.42770433 10.29229825  0.216       8.1244616   8.01222152
 13.00068394  6.2239701 ]
model2 6 0.9627 3.029
[12.82002258  9.59772069  0.566      13.29181978 13.08152504 15.96375976
 10.22892782 11.15499131 12.43083537 15.16179946 14.35830069  9.10436786
  8.09624396  9.68411592 12.77917413  8.86242517 17.98936106 10.45640633
  0.1765      4.82229261 14.19827746 16.10771208 13.46656443 10.75054015
 10.95618021  6.19018556 13.40391676 13.08674186 12.48119254 17.38548171
 15.09885605 11.07339726 10.64710663 12.9714991  12.58535851  5.5175098
 10.51511738 12.92871521 16.11201939 12.26965079 10.46527244 13.3170365
 11.4209155  10.92066282  9.31611132 15.52746158  9.27141283  5.77377624
  9.02507442  7.12163422 11.04904826  7.98703476 12.25727285 13.32268292
 14.55831221 10.5357832  14.36132747  9.22817882  8.40723173  8.15254211
 12.97045096  9.32331416 15.45149789  8.26986642 12.64755204  8.6169244
 12.05013119 10.32728566 15.74842409  9.13231486  8.07192374 11.32887065
 10.28657682 15.63096143 10.81272803 11.07193799  0.232      12.16211849
 10.71492527 15.17010332 15.34571034 16.09650808  9.27241797  5.8037746
 11.09758236 10.55478206  8.06299921  7.80762701 11.07120529 10.47042679
 10.32107248  7.46514884 15.40408643  9.81929933  4.54561406  8.27206377
 15.45451957 10.36845644 10.88719744 15.37522107 14.34771409 13.22011158
 10.53298136 10.80529179 13.28724905 10.77960535 11.01506501 12.16593001
 13.31674873 10.53309001 14.29941781 10.67714977 12.51848997 12.68496907
  9.57483835 15.53840884 18.3409175  10.23133345  7.93919697 14.1384085
  7.84212101 11.12583451 12.7575651  17.34789204 10.71444839 10.94116981
 10.87292521 15.21564866 10.55780971 12.6687036  14.72505624 12.40676203
 15.22408029  7.61115235 15.62879788 10.96701795  7.74934299 11.12903135
 12.01759159 11.35736384 12.62693084 10.82557524 11.04698405  9.51465059
 12.96735299 10.22837523  9.68876686  7.75241729 15.67295503 12.47939896
 17.16247302 12.45119315 10.69818143  8.05498915 11.00528478 12.88951226
 14.68823592 12.48807576 10.36755255  7.23685777  7.47801224 10.38525092
 10.69789859 10.38122058 10.3084363   0.216       7.75749356  8.04278563
 12.9753919   6.23766031]
model2 7 0.9724 3.07

In [36]:
final_model = LinearRegression().fit(xtrain, ytrain)
print('final_model', get_score(final_model, xtrain, xtest, ytrain, ytest))

[12.5     9.8125  5.     13.125  13.1875 15.625  10.375  11.125  12.125
 14.4375 14.25    9.5     7.875   9.375  12.8125  8.75   18.6875 10.375
  4.8125  6.     14.5    16.375  13.1875 11.0625  9.6875  4.9375 13.25
 12.875  12.5625 19.0625 14.625  10.625  11.0625 13.     13.625   4.5625
 11.     13.3125 16.375  12.25   10.     12.875  12.0625 11.      9.125
 16.      8.0625  4.125   9.625   6.6875 11.4375  8.3125 12.     13.
 14.0625 10.375  13.6875  8.75    7.1875  8.375  13.75    9.     15.1875
  8.25   12.75    8.6875 12.1875  9.0625 16.6875  8.625   8.1875 10.875
 10.125  14.8125 10.8125 11.5     1.     12.5625 12.125  15.125  13.875
 16.75    9.625   5.375  11.4375 10.25    8.0625  9.625  11.375   9.625
  9.5     7.375  14.125   9.9375  6.1875  7.875  15.5    10.25   11.5
 15.     14.75   13.125  10.125  11.125  13.     11.0625 11.5    13.25
 13.5     9.5    14.1875 11.375  12.     12.25    9.625  15.75   19.3125
  9.875   7.375  13.9375  6.6875 11.3125 12.125  18.5625 10.8125 11.625
 11.625  13.875   9.5625 13.25   14.0625 12.25   14.375   6.875  15.5
 10.75    7.8125 12.5    12.4375 11.375  12.9375 11.9375 11.9375  9.0625
 13.6875  9.375   9.5     7.875  15.     12.0625 16.875  12.1875 11.125
  8.4375 11.75   13.25   14.375  12.625   9.8125  6.875   5.     10.4375
  9.8125 10.125   9.1875 -0.6875  8.5     6.8125 13.3125  7.    ]
final_model 0.8788 3.656

In [103]:
y_pred = final_model.predict(X_TEST)

obj = {'StudentID' : StudentID,
        'G3' : y_pred
}
result = pd.DataFrame(obj)
result.to_csv('./result.csv', index=False)